{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/global.css" />
    <title>PR Site</title>
    <style>
        header nav {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <h1><a href="/">Jacob's PR Calculator</a></h1>
        </div>
        <hr />
        <nav>
            <div id="directory">
                <a href="/tournaments/">Tournaments</a>
                <a href="/players/">Players</a>
            </div>
        </nav>
        <hr />
    </header>
    <main>
        {{ template "content" . }}
    </main>
    <footer></footer>
</body>

</html>

{{ end }}