{{ define "content" }}

<table>
    <thead>
        <tr>
            <th>Player</th>
            {{ range .Tournaments }}
                <th><a href="/tournaments/{{ .TourneyID }}">{{ .Name }}</a></th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ $tmap := .Tmap }}
        {{ $tournaments := .Tournaments }}
        {{ range $player, $attendance := .Rows }}
            <tr>
                <td><a href="/players/{{ $player.PlayerID }}">{{ $player.Name }}</a></td>
                {{ range $attendance }}
                    <td>
                        {{ if . }}
                            {{ $tindex := index $tmap .Tourney }}
                            {{ $tourney := index $tournaments $tindex }}
                            {{ $tourney.PointsFromPlacement .Standing }}
                            ({{ .Standing }})
                        {{ end }}
                    </td>
                {{ end }}
            </tr>
        {{ end }}
    </tbody>
</table>

{{ end }}