{{ define "content" }}

<h2>{{ .Name }}</h2>
<a href="{{ .URL }}">{{ .URL }}</a>
<form action="/tournaments/edit/{{ .TourneyID }}" method="post">
    <button>Save Changes</button>
    <div>
        <label for="tier">Tier: </label>
        <select name="tier" id="tier">
            {{ $tier := .Tier }}
            {{ range .Tiers }}
            <option value="{{ . }}"
                {{ if and $tier (eq $tier.Name .) }}
                    selected
                {{ end }}
            >{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <table>
        <thead>
            <tr>
                <th>Entrant Name</th>
                <th>Player Name</th>
                <th>Standing</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {{ $players := .Players }}
            {{ range $attendee := .Attendees }}
            <tr>
                <td>
                    {{ .Name }}
                </td>
                <td>
                    <select name="{{ .AttendeeID }}">
                        <option value=""></option>
                        {{ range $players }}
                        <option value="{{ .PlayerID }}" 
                            {{ if and $attendee.Player (eq $attendee.Player.PlayerID .PlayerID) }}
                                selected 
                            {{ end }}>{{ .Name }}
                        </option>
                        {{ end }}
                    </select>
                </td>
                <td>
                    {{ .Standing }}
                </td>
                <td>{{ index $.PointMap .Standing }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</form>

{{ end }}